
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <font class="display-4" style="font-size:30pt">@ViewData["Msg1"]</font>
        <p class="lead" style="margin-top:10px">@ViewData["Msg2"]</p>
    </div>
</div>
