<div class="sidebar">
    <h5 class="text-center" style="font-family:Arial;background-color:#173A47;color:white;margin-bottom:20px;line-height:80px"> <i class="fa fa-user-circle"></i> Staff Portal</h5>
    <a class="btn-block " asp-controller="StaffHome" asp-action="StaffDash" style="line-height:15px"><i class="fa fa-bar-chart" style="margin-right:8px"></i> Dashboard</a>
    <a class="btn-block" asp-controller="StaffLeave" asp-action="LeaveBalance" style="line-height:15px"><i class="fa fa-calendar" style="margin-right:8px"></i> Leaves</a>
    <a asp-controller="StaffTimeSheet" asp-action="TimeSheet" class="btn-block" style="line-height:15px"><i class='far fa-calendar-plus' style="margin-right:8px"></i>  Time Sheet</a>
    <a asp-controller="StaffAttendence" asp-action="AttendenceInfo" class="btn-block" style="line-height:15px"><i class='far fa-clock' style="margin-right:8px"></i> Attendence</a>
</div>