@{
    Layout = "_TimeSLayout";
    ViewData["Title"] = "View Time Sheet";
}
<link href="~/CSS/TimeSheet View.css" rel="stylesheet" />
<link href="~/CSS/MenuStyleSheet.css" rel="stylesheet" />
@model TimeSheetTaskModel

<div id="s1">
    <div class="container-fluid">
        <br>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">View Time Sheet</h1>
                <p class="lead">Select an employee and a date to view the daily Time Sheet .</p>
                <form class="form-inline" method="get" asp-action="Leave" asp-controller="ManagerLeave">
                    <div class="container">
                        <select name="Search" id="s2" class="form-control custom-select" asp-items="ViewBag.Emps" required>
                            <option value="">Select an Employee</option>
                        </select>
                        <input name="Date" id="date" type="Date" class="form-control" placeholder="select day" value="dd/mm/yyyy" required/>

                        <a id="a" asp-controller="StaffTimeSheet" asp-action="CreateDocument" target="_blank" class="btn btn-success">View Time Sheet </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


