@{
    Layout = "_Layout";
    ViewData["Title"] = "Time Sheet";
}


<div class="content">

    @{Html.BeginForm("CreateDocument", "StaffTimeSheet", FormMethod.Get);
        {
            <div>
                <input type="submit" value="Create Document" style="width:150px;height:27px" formtarget="_blank"/>
            </div>
        }
        Html.EndForm();
    }

</div>
