#s1 {
    line-height: 30px;
    width: 80px;
    background-color: #173A47;
}

#s2 {
    width: 3.5rem;
    background-color: gainsboro;
    border-width: medium
}

#s3 {
    color: forestgreen;
    font-size: 11pt;
    margin-bottom: 0px;
}
