.content {
    margin-left: 18%;
    height: 200px;
}

    .content h3 {
        font-family: Calibri;
        color: black;
    }

.jumbotron {
    height: 700px;
    position: relative;
    width: 95%;
    margin-left: 2%;
    background-color: whitesmoke;
}

.rounded-circle {
    width: 18rem;
    background-color: gainsboro;
    border-width: medium
}

.s1 {
    width: 30rem;
    background-color: #808080;
    text-align: left;
    font-family: Arial;
    color: white
}

.badge {
    margin-left: 25%;
    font-size: large
}
