#s1 {
    margin-left: 20%;
    height: 600px;
    margin-right: 3%
}

.lead {
    padding-bottom: 10px
}

#s2 {
    line-height: 30px;
    width: 80px;
    background-color: #173A47
}

.form-inline a {
    background-color: #173A47;
    line-height: 30px;
    margin-left: 3%;
    width: 80px;
}

.s3 {
    padding: 50px
}

.s4 {
    border: 2px solid black;
    border-radius: 5%;
    height: 90px;
    width: 120px;
    margin-left: 20px;
    background-color: #173A47
}

.rounded-circle {
    width: 3.5rem;
    background-color: gainsboro;
    border-width: medium
}

#s5 {
    color: forestgreen;
    font-size: 11pt;
    margin-bottom: 0px
}

#img {
    margin-left: 20%
}

    #img img {
        width: 300px;
        height: auto
    }
