.navbar {
    font-family: Cambria;
    color: black;
    font-size: 13pt
}

.jumbotron {
    height: 500px;
    position: relative;
    width: 95%;
    margin-left: 2%;
    background-color: #f1f1f1;
}

.rounded-circle {
    width: 15rem;
    background-color: gainsboro;
    border-width: medium
}

.c1 {
    width: 100%;
    background-color: #808080;
    text-align: left;
    font-family: Arial;
    color: white
}

.badge {
    margin-left: 50%;
    font-size: large
}
