#navmenu {
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

    #navmenu a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        width: 33%;
    }

.subnav {
    float: left;
    overflow: hidden;
    width: 34%;
}

.subnavbtn {
    width: 100%;
}

    .subnav .subnavbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        
    }

#navmenu a:hover, .subnav:hover .subnavbtn {
    background-color: #173A47;
}

   

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    width: 82.8%;
    margin-left: 16%;
    z-index: 1;
}

    .subnav-content a {
        float: left;
        color: white;
        text-decoration: none;
        width: 35%;
    }



.subnav:hover .subnav-content {
    display: block;
}
