
@import url('https://fonts.googleapis.com/css?family=Roboto');



body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.d-block {
  
    width: 600px;
    
}

.emp1 {
    color:black;
    font-weight:bolder;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    position: absolute;
    height: 50%;
    overflow: auto;
}



