@{
    Layout = "_AttendenceLayout";
    ViewData["Title"] = "Attendence Info";
}
<link href="~/CSS/MenuStyleSheet.css" rel="stylesheet" />

@model LeaveApplyModel


<div class="content">
    <partial name="_Menu" />
</div>