@{
    Layout = "_AttendenceLayout";
    ViewData["Title"] = "Attendence Request";
}
<link href="~/CSS/MenuStyleSheet.css" rel="stylesheet" />

@model AttendenceModel


<div class="content" style="background-image: url('/images/Parallax.jpg'); background-repeat: no-repeat; position: center;background-size:100% 100%;">

    <partial name="_Menu" />
    <br><br>
        <div style="margin-left:20%;width:55%">
            @if (ViewBag.IsSuccess == true)
            {
                <div class="alert alert-success alert-dismissible fade show container" role="alert">
                    <strong>Succesffull!</strong>  You have submited an attendence request successfully.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            }

            @if (ViewBag.IsExist == true)
            {
                <div class="alert alert-danger alert-dismissible fade show container" role="alert">
                    <strong>Operation Failed!</strong> You have already submited an attendence request for this date.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            }
        </div>
    <br>
    <br>

    <font style="color:white;font-size:13pt;font-family:Arial"><center>Attendence Request - @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year</center> </font>
    <br>

    <form enctype="multipart/form-data" method="post" asp-action="AtteRequest" asp-controller="StaffAttendence" style="margin-left:20%;width:55%">
        <div class="form-group">
            <font style="color:white">Requested Date</font>
            <input asp-for="Date" class="form-control" placeholder="select date" value="dd/mm/yyyy" style="height:45px" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-3 ">
                <div class="form-group" style="margin-top:13px">
                    <font style="color:white">In Time</font>
                    <input asp-for="InTime" class="form-control" placeholder="In-Time" style="height:50px;" />
                    <span asp-validation-for="InTime" class="text-danger"></span>
                </div>

            </div>

            <div class="col-md-6 col-sm-3">
                <div class="form-group" style="margin-top:13px">
                    <font style="color:white">Out Time</font>
                    <input asp-for="OutTime" class="form-control" placeholder="OutTime" style="height:50px;" />
                    <span asp-validation-for="OutTime" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <font style="color:lightgreen"><center>Break Time</center></font>
            <div class="row">
                <div class="col-md-6 col-sm-3 ">
                    <div class="form-group" style="margin-top:13px">
                        <font style="color:white">Hours</font>
                        <input asp-for="BHours" class="form-control" placeholder="Hours" style="height:50px;" />
                        <span asp-validation-for="BHours" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-md-6 col-sm-3">
                    <div class="form-group" style="margin-top:13px">
                        <font style="color:white">Minutes</font>
                        <input asp-for="BMinutes" class="form-control" placeholder="Minutes" style="height:50px;" />
                        <span asp-validation-for="BMinutes" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
        <font style="color:lightgreen"><center>Explanation</center></font>
        <div class="form-group" style="margin-top:13px">

            <textarea asp-for="Explanation" class="form-control" placeholder="Explanation" style="height:100px" required></textarea>
            <span asp-validation-for="Explanation" class="text-danger"></span>

        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn-block btn-success btn-lg" /><br>
            <a asp-controller="StaffAttendence" asp-action="HRLeaveTableSee" class="btn btn-success btn-lg btn-block">Cancel</a>
        </div>

    </form>
</div>

