@using VPMS_Project.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<TodayWorkModel>

<div class="card" style="margin-left: 2%;width:98%">
    <div class="card-body" style="background-color:whitesmoke">
        <h6 class="card-title" style="color:black;"><i class='fa fa-paper-plane'></i> Present Today<br></h6><hr>

        @if (Model.Count() == 0)
        {
            <div class="text-primary">
                <i class='far fa-calendar-times' style="color:black"></i>&nbsp;&nbsp; No one has marked attendence yet.
            </div>
        }

        <table class="table table-hover">

            <thead>

            </thead>
            <tbody>
                @foreach (var emp in Model)
                {
                    <tr style="line-height: 20px">
                    <td scope="row">
                            <div class="rounded-circle" style="width: 2.5rem;background-color:white;border-width:medium">
                                <img class="card-img-top rounded-circle" src="@(string.IsNullOrEmpty(emp.PhotoURL) ? "~/images/defa.png" : emp.PhotoURL)" height="38" width="20" asp-append-version="true">
                            </div>
                        </td>
                        <td> @emp.EmpName</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br>

