@{
    Layout = "_ManagerLayout";
    ViewData["Title"] = "Dashboard";

}
@model EmpModel
    <link href="~/CSS/ManageDash.css" rel="stylesheet" />

    <div class="content">
        <div class="navbar">
            <h4>
                <br>
                <a asp-controller="EmployeeHome" asp-action="Portal" title="Back">
                    <i class='fas fa-arrow-left mr-4'></i>
                </a>Dashboard
            </h4>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4 text-center">
                    <div class="jumbotron jumbotron-fluid" style="height:320px">
                        <h1 class="display-4">Employee Details</h1>
                        <form class="form-inline" method="get" asp-action="ViewEmp" asp-controller="ManagerDash">
                            <div class="container">
                                <select asp-for="EmpId" class="form-control custom-select mb-3" asp-items="ViewBag.Emps" id="f1">
                                    <option value="">Choose a employee</option>
                                </select>
                                <input class="b1 btn btn-success" type="submit" value="Select" />
                                <span asp-validation-for="EmpId" class="text-danger"></span>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>






