@{
    Layout = "_StaffLayout";
    ViewData["Title"] = "Leave Balance";
}
<link href="~/CSS/MenuStyleSheet.css" rel="stylesheet" />
<div class="content" style="background-color:#555">
    <partial name="_Menu" />
    <br><br>
</div>