
@{
    Layout = "_AttendenceLayout";
    ViewData["Title"] = "Attendence Details";

}


<div style="margin-left:20%;height:600px;">
    <div class="navbar">
        <h3 style="font-family:Cambria;color:black;">
            <br>
            <a asp-controller="EmployeeHome" asp-action="EmpIndex" title="Back">
                <i class='fas fa-arrow-left' style="margin-right:15px;color:black;font-size:14pt"></i>
            </a>Attendence Details
        </h3>
    </div>
    <hr>
    </div>
