
@using VPMS_Project.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<TaskModel>

    <div class="card text-center">

        <h5 class="card-header">
            <b>Task List</b>
        </h5>
        @if (Model.Count() == 0)
        {
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h2>No Tasks Available</h2>

                </div>
            </div>
        }
        else
        {
            <div class="card-body" style="background-color:ThreeDHighlight">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Task</th>
                            <th scope="col">Allocated Hours</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in Model)
                        {
                            <tr>
                                <td scope="row">@task.Name</td>
                                <td>@task.AllocatedHours</td>
                                <td><a class="btn btn-primary" asp-controller="StaffTimeSheet" asp-action="TaskComplete" asp-route-id="@task.Id" role="button" style="background-color:#173A47">ADD</a></td>
                            </tr>
                        }
                        </tbody>
                </table>

            </div>
            <div class="card-footer text-muted">
                Add tasks for submitting daily time sheet.
            </div>

        }

    </div>