@using VPMS_Project.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<LeaveApplyModel>

<div class="card" style="margin-left: 2%;width:98%">
    <div class="card-body" style="background-color:whitesmoke">
      <h6 class="card-title" style="color:black;"><i class='fa fa-paper-plane'></i> On Leave Today<br></h6><hr>

        @if (Model.Count() == 0)
        {
        <div class="text-primary">
        <i class='far fa-calendar-times' style="color:black"></i>&nbsp;&nbsp; No one is on leave today.
        </div>
        }

        @foreach (var emp in Model)
        {
            <br>
            <h6 class="card-subtitle mb-2" style="font-weight:normal"><i class='fas fa-user-alt'></i> @emp.EmpName - @emp.NoOfDays Days</h6>
            <p class="card-text text-primary" >
                <i class='far fa-calendar-alt' style="color:black"></i> From &nbsp; @emp.Startdate.Day-@emp.Startdate.Month-@emp.Startdate.Year <br>
               <i class='far fa-calendar-alt' style="color:black"></i> To &nbsp; @emp.EndDate.Day-@emp.EndDate.Month-@emp.EndDate.Year
            </p>
            <hr>
        }
    </div>
</div>
<br>


