

@{
    ViewData["Title"] = "Add New Employee";
    ViewData["Topic"] = "Enroll New Employee";
}
@model EmpModel


    <div class="content" style="background-image: url('/images/Parallax.jpg'); background-repeat: no-repeat; position: center;background-size:100% 100%;">

        <br><br><br>

        <div class="container">
            @if (ViewBag.IsSuccess == true)
            {
                <div class="alert alert-success alert-dismissible fade show container" role="alert">
                    <strong>Congragulations!</strong> You added a new employee successfully.<br><a asp-route="empDetailsRoute" asp-route-id="@ViewBag.empId">Click here</a> to view the details.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


            }
        </div>
        <form enctype="multipart/form-data" method="post" asp-action="AddEmployee" asp-controller="Emp_Manage" style="margin-left:15%;width:60%">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group" style="margin-top:13px">
                        <input asp-for="EmpFName" class="form-control" placeholder="Employee First Name" style="height:45px;" />
                        <span asp-validation-for="EmpFName" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="form-group" style="margin-top:13px">
                        <input asp-for="EmpLName" class="form-control" placeholder="Employee Last Name" style="height:45px;" />
                        <span asp-validation-for="EmpLName" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group" style="margin-top:13px">
                        <a asp-controller="Emp_Manage" asp-action="ModifyList" class="btn-outline-secondary" style="font-size:11pt;margin-left:70%;color:Highlight"><i class='fas fa-wrench'></i> Modity List</a>
                        <select asp-for="JobTitleId" class="form-control" asp-items="ViewBag.Jobs" style="height:45px;">
                            <option value="">Choose Designation</option>
                        </select>
                        <span asp-validation-for="JobTitleId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-inline" style="font-size:15pt;margin-top:33px">

                        <input class="form-control" type="radio" value="Female" asp-for="Gender" style="margin-left:20%;color:white" /><font style="color:white;margin-left:4%;">Female</font>
                        <input class="form-control" type="radio" value="Male" asp-for="Gender" style="margin-left:20%;color:white" /><font style="color:white;margin-left:4%;">Male</font>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-3">
                    <div class="form-group" style="margin-top:13px">
                        <input asp-for="Email" class="form-control" placeholder="Employee email" style="height:45px;" />
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6 col-sm-3">
                    <div class="form-group" style="margin-top:13px">
                        <input asp-for="Mobile" class="form-control" placeholder="Employee Mobile" style="height:45px" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                </div>
            </div>





            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group" style="margin-top:13px">
                        <font style="color:white">Date Of Birth</font>
                        <input asp-for="Dob" class="form-control" placeholder="select birth day" value="dd/mm/yyyy" style="height:45px" />
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="form-group" style="margin-top:13px">
                        <font style="color:white">Employee Join Date</font>
                        <input asp-for="WorkSince" type="date" class="form-control" value="dd/mm/yyyy" style="height:45px" />
                        <span asp-validation-for="WorkSince" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-3">
                    <div class="form-group" style="margin-top:13px">
                        <textarea asp-for="Address" class="form-control" placeholder="Employee Address" style="height:70px"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <div class="form-group form-inline" style="font-size:15pt;margin-top:33px">

                            <input class="form-control" type="radio" value="Active" asp-for="Status" style="margin-left:20%;" checked />&nbsp;&nbsp;&nbsp;<font style="color:white">Active</font>
                            <input class="form-control" type="radio" value="Inactive" asp-for="Status" style="margin-left:20%;" disabled />&nbsp;&nbsp;&nbsp;<font style="color:white">Inactive</font>&nbsp;&nbsp;&nbsp;
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" style="margin-top:13px">
                <div class="custom-file">
                    <input asp-for="ProfilePhoto" class="custom-file-input" id="customFile" style="line-height:45px">
                    <label class="custom-file-label" for="customFile" style="height: 50px">Upload Image</label>
                </div>
            </div>


            <br>

            <div class="form-group">
                <input type="submit" value="Add New" class="btn-block" style="background-color:#173A47;color:white;font-size:12pt" /><br><br>
                <a asp-controller="Emp_Manage" asp-action="ViewAllEmp" class="btn btn-lg btn-block" style="margin-top:20px;background-color:#173A47;color:white">Cancel</a>
            </div>


        </form>
       
    </div>




@section photo
{
    <script type="text/javascript">


        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>


}