

@{
    ViewData["Title"] = "Add New Job";
    ViewData["Topic"] = "Add New Position";
}

@model JobModel

<div class="content"  style="background-image: url('/images/Parallax.jpg'); background-repeat: no-repeat; position: center;background-size:100% 100%;">
    <br><br><br><br>

    <form enctype="multipart/form-data" method="post" asp-action="AddJob" asp-controller="Emp_Manage" style="margin-left:20%;width:600px">
        <div class="form-group">
            <input asp-for="JobName" class="form-control" placeholder="Enter New Position" style="height:50px;" />
            <span asp-validation-for="JobName" class="text-danger"></span>
        </div>
        <font style="color:white;margin-left:90px;">Enter Number Of Leaves Given for one year for this position </font>
        <div class="row">
            <div class="col-md-6 col-sm-3">
                <div class="form-group" style="margin-top:13px">
                    <input asp-for="Casual" class="form-control" placeholder="Casual Leaves" style="height:50px;" />
                    <span asp-validation-for="Casual" class="text-danger"></span>
                </div>

            </div>

            <div class="col-md-6 col-sm-3">
                <div class="form-group" style="margin-top:13px">
                    <input asp-for="Medical" class="form-control" placeholder="Medical Leaves" style="height:50px;" />
                    <span asp-validation-for="Medical" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-3">
                <div class="form-group">
                    <input asp-for="Annual" class="form-control" placeholder="Annual Leaves" style="height:50px;" />
                    <span asp-validation-for="Annual" class="text-danger"></span>
                </div>

            </div>

            <div class="col-md-6 col-sm-3">
                <div class="form-group">
                    <input asp-for="ShortLeaves" class="form-control" placeholder="Short Leaves" style="height:50px;" />
                    <span asp-validation-for="ShortLeaves" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input asp-for="HalfDays" class="form-control" placeholder="Half Day Leaves" style="height:50px;" />
            <span asp-validation-for="HalfDays" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Add New" class="btn-block" /><br><br>
            <a asp-controller="Emp_Manage" asp-action="ModifyList" class="btn btn-success btn-lg btn-block" style="margin-top:20px">Cancel</a>
        </div>

    </form>
</div>

