
@{
    ViewData["Title"] = "update data";
    ViewData["Topic"] = "Modify Employees";
}
<style>
    .content {
        height: 1000px;
        background-image: url('/images/Parallax.jpg');
        background-repeat: no-repeat;
        position: center;
        background-size: 100% 100%;
    }
        .content h5 {
            color: white;
            margin-left: 2%;
        }
    #s1 {
        margin-left: 15%;
        width: 750px
    }
    
    .form-group {
        margin-top: 13px
    }
    .s2 {
            font-size: 11pt;
            margin-left: 280px;
            color: white
        }
    .s3 {
        margin-left: 70px;
        color: white
    }
    .custom-file-label{
        height:50px;
    }

   #s4 {
        background-color: #173A47;
        color: white;
        font-size: 12pt
    }
    .form-control {
        height: 45px;
    }
    .form-inline {
        font-size: 15pt;
        margin-top: 33px
    }
    
    </style>
@model EmpModel

    <div id="back" class="content" >
        <br><br><br>
            <form method="post" enctype="multipart/form-data" asp-action="EditEmpById" asp-controller="Emp_Manage" id="s1">
                    <h5> User Id @ViewBag.empId</h5><hr style="background-color:white">
                    <input hidden asp-for="EmpId" />
                    <input hidden asp-for="PhotoURL" />
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input asp-for="EmpFName" class="form-control" placeholder="Employee First Name" />
                                <span asp-validation-for="EmpFName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <input asp-for="EmpLName" class="form-control" placeholder="Employee Last Name" />
                                <span asp-validation-for="EmpLName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <a asp-controller="Emp_Manage" asp-action="ModifyList" class="s2 btn-outline-success">Modity List</a>
                                <select asp-for="JobTitleId" class="form-control" asp-items="ViewBag.Jobs">
                                    <option value="">Choose Designation</option>
                                </select>
                                <span asp-validation-for="JobTitleId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group form-inline text-white">

                                <input class="s3 form-control" type="radio" value="Female" asp-for="Gender" />&nbsp;&nbsp;&nbsp;Female
                                <input class="s3 form-control" type="radio" value="Male" asp-for="Gender"/>&nbsp;&nbsp;&nbsp;Male
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input asp-for="Email" class="form-control" placeholder="Employee email"/>
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input asp-for="Mobile" class="form-control" placeholder="Employee Mobile"/>
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                   <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <font style="color:white">Date Of Birth</font>
                                <input asp-for="Dob" class="form-control" placeholder="select birth day" />
                                <span asp-validation-for="Dob" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="col">
                            <div class="form-group">
                                <font style="color:white">Employee Join Date</font>
                                <input asp-for="WorkSince" class="form-control" placeholder="Employee Join Date"/>
                                <span asp-validation-for="WorkSince" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <textarea asp-for="Address" class="form-control" placeholder="Employee Address" style="height:70px"></textarea>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="col">
                            <div class="form-group">
                                <div class="form-group form-inline text-white">

                                    <input class="s3 form-control" type="radio" value="Active" asp-for="Status" />&nbsp;&nbsp;&nbsp;Active
                                    <input class="s3 form-control" type="radio" value="Inactive" asp-for="Status" />&nbsp;&nbsp;&nbsp;Inactive
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-file">
                            <input asp-for="ProfilePhoto" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Click here to change image</label>
                        </div>
                    </div>
                   <br>

                    <div class="form-group text-white">
                        <input type="submit" value="Save Changes" class="btn-block" style="background-color:#173A47;"/><br><br>
                        <a asp-controller="Emp_Manage" asp-action="EditEmp" class="btn btn-lg btn-block text-white" style="margin-top:20px;background-color:#173A47;">Cancel</a>
                    </div>
                </form>
    </div>

@section photo
{
    <script type="text/javascript">


        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>


}