
@{
    ViewData["Title"] = "Job List";
    ViewData["Topic"] = "";

}

@model IEnumerable<JobModel>

    <div style="margin-left:20%;height:600px;">
        <br>
        
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success" role="alert">
                <strong>Congragulations!</strong> You added a new job title successfully.
            </div>


        }

        @if (ViewBag.IsDelete == true)
        {
            <div class="alert alert-success" role="alert">
                Successfully Deleted.
            </div>


        }

        <br>


        <div style="margin-left:17%;margin-right:27%;background-color:#191616">
            <br>
            <a asp-controller="Emp_Manage" asp-action="AddJob" class="btn-success" style="margin-left:20px">+ Add New </a>
            <a asp-controller="Emp_Manage" asp-action="AddEmployee" class="btn-success" style="margin-left:30px">Back&nbsp;&nbsp;&nbsp;&nbsp;</a>

            <br>
            <br>
            <div class="table-responsive">
                <table class="table table-hover " style="width:550px;">

                    <thead>

                    </thead>
                    <tbody>

                        @foreach (var job in Model)
                        {
                            @*onclick="return confirm('Are you sure')"*@

                            <tr style="line-height: 20px">


                                <td scope="row">
                                    <font style="color:white"> @job.JobName</font>
                                </td>
                                <td>
                                    <a asp-controller="Emp_Manage" asp-action="DeleteJob" asp-route-id="@job.JobId" onclick="return confirm('Do you want to delete this job type ?')">

                                        <img src="~/images/unnamed.png" style="width:30px;height:30px" />
                                        @*<font style="color:white"> Delete</font>*@
                                    </a>
                                </td>

                            </tr>
                          }



                    </tbody>
                </table>
            </div>
            




        </div>
    </div>
