
@{
    ViewData["Title"] = "Job List";
    ViewData["Topic"] = "";

}
<link href="~/CSS/ModifyList.css" rel="stylesheet" />
@model IEnumerable<JobModel>


<div class="content">
    <br>
    <div class="container">
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success" role="alert">
                <strong>Congragulations!</strong> You added a new job title successfully.
            </div>
        }

        @if (ViewBag.IsDelete == true)
        {
            <div class="alert alert-success" role="alert">
                Successfully Deleted.
            </div>
        }
    </div>
    <br>
    <div id="s1">
        <br>
        <a asp-controller="Emp_Manage" asp-action="AddEmployee"><i class='fas fa-arrow-left' style="margin-left:8px;color:white"></i></a>
        <a asp-controller="Emp_Manage" asp-action="AddJob" class="btn-success" style="margin-left:30px;background-color:#173A47"><i class='fas fa-plus'></i> Add New </a>
        <br>
        <br>
        <div class="table-responsive col-sm-10 col-md-12 col-xl-12">
            <table class="table table-hover " id="datatable">
                <thead>
               </thead>
                <tbody>
                    @foreach (var job in Model)
                    {
                        <tr>
                          <td scope="row" class="text-white">
                                @job.JobName
                            </td>
                            <td>
                                <a asp-controller="Emp_Manage" asp-action="DeleteJob" asp-route-id="@job.JobId" onclick="return confirm('This will also permantly delete existing employees who hold this position. Do you want to delete this job title?')">
                                    <i class='fas fa-times'></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

