<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width , initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] </title>
    <link href="~/CSS/LeaveStyleSheet.css" rel="stylesheet" />

    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </environment>
</head>
<body>
    <header>

        <ul style="width:18%">
            <li><img src="~/images/bell.jpg" id="img" style="width:150px;height:120px;margin-bottom:30px;margin-left:25px" asp-append-version="true" /></li>
            <li>
                <div class="btn-group-vertical" id="myDIV">
                    <a class="btn-block" asp-controller="AdminLeave" asp-action="LeaveAllocation">Leave Allocation</a>
                    <a asp-controller="AdminLeave" asp-action="LeaveAllocation" class="btn-block">Leave Recommendation</a>
                    <a asp-controller="Emp_Manage" asp-action="EditEmp" class="btn-block">Leave Approval</a>
                    <a asp-controller="Emp_Manage" asp-action="SeeRemoveEmp" class="btn-block">Leave Details</a>
                </div>
            </li>

        </ul>

    </header>


    <main role="main">
        <div>
            @RenderBody()
        </div>
    </main>
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/jquery-validate/jquery.validate.js"></script>
        <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/jquery-validate/jquery.validate.min.js"></script>
        <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    </environment>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>


    <script>
        var header = document.getElementById("myDIV");
        var btns = header.getElementsByClassName("btn-block");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");

                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";

            });
        }


    </script>
</body>
</html>
