@{
    Layout = "_LeaveLayout";
    ViewData["Title"] = "Edit Leave Allocation";
}

@model EmpModel


<div style="margin-left: 15%; height: 750px; background-image: url('/images/Parallax.jpg'); background-repeat: no-repeat; position: center;background-size:100% 100%;">
    <br><br><br><br>

    <form enctype="multipart/form-data" method="post" asp-action="EditLeaveAllocation" asp-controller="AdminLeave" style="margin-left:20%;width:600px">

        <input hidden asp-for="EmpId" />
        <input hidden asp-for="JobTitleId" />
        <div class="form-group">
            <font style="color:white">From Date</font>
            <input asp-for="FromDate" class="form-control" placeholder="Enter New Position" style="height:50px;" />

        </div>
        <div class="form-group">
            <font style="color:white">To Date</font>
            <input asp-for="Todate" class="form-control" placeholder="Enter New Position" style="height:50px;" />

        </div>
         <div class="row">
            <div class="col">
                <div class="form-group" style="margin-top:13px">
                    <font style="color:white">Casual leaves</font>
                    <input asp-for="CasualAllocated" class="form-control" placeholder="Casual Leaves" style="height:50px;" />
                  
                </div>

            </div>

            <div class="col">
                <div class="form-group" style="margin-top:13px">
                    <font style="color:white">Medical leaves</font>
                    <input asp-for="MedicalAllocated" class="form-control" placeholder="Medical Leaves" style="height:50px;" />
                   
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <font style="color:white"> Annual leaves</font>
                    <input asp-for="AnnualAllocated" class="form-control" placeholder="Annual Leaves" style="height:50px;" />
                    
                </div>

            </div>

            <div class="col">
                <div class="form-group">
                    <font style="color:white"> short leaves</font>
                    <input asp-for="ShortLeaveAllocated" class="form-control" placeholder="Short Leaves" style="height:50px;" />
                  
                </div>
            </div>
        </div>
        <div class="form-group">
            <font style="color:white"> Half days</font>
            <input asp-for="HalfLeaveAllocated" class="form-control" placeholder="Half Day Leaves" style="height:50px;" />
            
        </div>

        <div class="form-group">
            <input type="submit" value="Save Changes" class="btn-block btn-success btn-lg" /><br><br>
            <a asp-controller="AdminLeave" asp-action="SeeLeaveAllocation" class="btn btn-success btn-lg btn-block" style="margin-top:10px">Cancel</a>
        </div>

    </form>
</div>


